:root {
  --primary-color: #db0000;
  --secondary-color: #564d4d;
  --accent-color: #831010;
  --text-color: #ffffff;
  --background-color: #000000;
  --link-color: #1e90fb;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4, p {
  margin: 5px;
}

.action-block {
  position: relative;
  text-align: center;
  color: var(--text-color);
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.action-button {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  margin-left: 5px;
}

.banner-ad {
  display: flex;
  justify-content: center;
  height: 125px;
  background-image: linear-gradient(90deg, blue, red, blue);
}

.banner-content {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.banner-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.black-vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 1));
  z-index: 1;
  pointer-events: none;
}

.feature-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.feature-image {
  height: 400px;
  width: 600px;
}

.feature-image-1 {
  background-image: url(./assets/tv.png);
}

.feature-image-2 {
  background-image: url(./assets/device-pile.png);
}

.feature-image-3 {
  background-image: url(./assets/kids.png);
}

.feature-image-4 {
  background-image: url(./assets/stranger-things.jpeg);
}

.header-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  z-index: 10;
}

.header-left {
  margin: 20px;
  width: 150px;
  height: 40px;
  background-image: url(./assets/Logonetflix.png);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}


.header-right {
  margin: 20px;
}

.hidden { display: none; }

.hover-question {
  background-color: var(--secondary-color);
  margin: 10px;
}

.hover-question.large-limit {
  margin: 10px;
}

.large-button {
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
}

.large-limit {
  max-width: 1200px;
  margin: auto;
}

.left-block {
  margin: 20px;
}

.link-button {
  color: var(--link-color);
  background-color: transparent;
  border: none;
}

.opening-block {
  background-image: url('./assets/homepage-backround.jpeg');
  height: 750px;
}

.popcorn-image {
  background-image: url();
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.question-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single-form-input {
  width: 300px;
}

.single-input-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.small-button {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
}

.text-block {
  max-width: 500px;
}